# Next.js
.next/
out/

# Dependências
node_modules/
.pnp
.pnp.js

# Variáveis de ambiente (NUNCA subir)
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDEs
.vscode/
.idea/
